.liked_cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.favorites_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
